extends ../layouts/main.pug

block content
    .HOME
        .HOMEArea1
            section.HOMEArea1__quickMenu
                .HOMEArea1__quickMenu__Box.quickBox
                    i.fab.fa-js
                    p JavaScript
                .HOMEArea1__quickMenu__Box.quickBox
                .HOMEArea1__quickMenu__Box.quickBox
                .HOMEArea1__quickMenu__Box.quickBox

        .HOMEArea2 
            .HOMEArea2__col1 area col1
            .HOMEArea2__col2 area col2