extends ../layouts/main.pug

block content
    .HOME
        .HOMEArea1
            section.HOMEArea1__quickMenu
                .HOMEArea1__quickMenu__box.quickBox
                    i.fab.fa-js-square
                    p JavaScript
                .HOMEArea1__quickMenu__box.quickBox
                    i.fas.fa-database
                    p MongoDB
                .HOMEArea1__quickMenu__box.quickBox
                    i.fab.fa-node-js
                    p Node.Js
                .HOMEArea1__quickMenu__box.quickBox 
                    i.fab.fa-react
                    p React

        .HOMEArea2 
            .HOMEArea2__col1 col1
            .HOMEArea2__col2 col2