.HOME {
  width: 100%;
  height: calc(100vh - 50px);
}

.HOME .HOMEArea1 {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HOME .HOMEArea1__quickMenu {
  width: 900px;
  height: 200px;

  background-color: grey;

  transition: 0.8s;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
}

.HOME .HOMEArea1__quickMenu:hover {
  background-color: darkgrey;
}

.HOME .HOMEArea2 {
  width: 100%;
  height: 630px;

  display: flex;
  flex-direction: row;
}

.HOME .HOMEArea2 .HOMEArea2__col1 {
  width: 50%;
  height: 100%;
}

.HOME .HOMEArea2 .HOMEArea2__col2 {
  width: 50%;
  height: 100%;
}
